<div class="row">
<div class="col-sm-12" id="subscriberschartcontainer">
  <h3>Top 10 reddit posts: <%= select 'home', 'timeframe',  @timeframe, {:class => "form-control", :remote => true}  %></h3>
  <canvas id="subscriberschart"></canvas>
</div>
</div>
<br/>
<div class="row">
  <div class="col-sm-4" id="doughnutchartcontainer">
    <h3>Doughnut chart</h3>
    <canvas id="doughnutchart"></canvas>
  </div>
  <div class="col-sm-4" id="barchartcontainer">
    <h3>Bar chart</h3>
    <canvas id="barchart"></canvas>
  </div>
  <div class="col-sm-4" id="polarchartcontainer">
    <h3>Polar chart</h3>
    <canvas id="polarchart"></canvas>
  </div>
</div>
<script>
  <%= render 'chartdata.js.erb' %>
</script>
