<div class="row">
<div class="col-sm-10 col-sm-offset-1" id="subscriberschartcontainer">
  <h3>Top 10 reddit posts: <%= select 'home', 'timeframe',  @timeframe, {:class => "form-control", :remote => true}  %></h3>
  <canvas id="subscriberschart"></canvas>
</div>
</div>
<br/>
<div id="chartdetailscontainer">
  <div id="chartdetails">
    <!-- put some basic how-to instructions here, they will be gone when a point on the graph is clicked -->
  </div>
</div>
<script>
  <%= render 'chartdata.js.erb' %>
</script>
