<div class="row">
<div class="col-sm-12" id="subscriberschartcontainer">
  <canvas id="subscriberschart"></canvas>
</div>
</div>
<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
  </div>
</div>
<script>
  <%= render 'chartdata.js.erb' %>
</script>